<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.springstudy.springmvc.chap05.mapper.ReactionMapper">

<!--    //리액션 생성 - 좋아요, 싫어요 처음 찍었을 때-->
<!--    void save(Reaction reaction);-->
    <insert id="save">
        INSERT INTO tbl_reaction
            (board_no, account, reaction_type_
        VALUES
            (#{boardNo}, #{account}, #{reactionType})
    </insert>

<!--    //리액션 삭제 - 좋아요, 싫어요 취소했을 때-->
<!--    void delete(@Param("boardNo") long boardNo,-->
<!--    @Param("account") String account);-->
    <delete id="delete">
        DELETE FROM tbl_reaction
        WHERE board_no = #{boardNo}
        AND account = #{account}
    </delete>



<!--    //리액션 단일 조회 - 사용자가 특정 게시물에 리액션을 했는지 확인-->
<!--    Reaction findOne(@Param("boardNo") long boardNo,-->
<!--    @Param("account") String account);-->
    <select id="findOne" resultType="reaction">
        SELECT *
        FROM tbl_reaction
        WHERE board_no = #{boardNo}
        AND account = #{account}
    </select>



<!--    //특정 게시물 좋아요 수 조회-->
<!--    int countLikes(long boardNo);-->
    <select id="countLikes" resultType="int">
        SELECT COUNT(*)
        FROM tbl_reaction
        WHERE board_no = #{boardNo}
        AND reaction_type = 'LIKE'
    </select>



    <!--    //특정 게시물 싫어요 수 조회-->
<!--    int countDislikes(long boardNo);-->
    <select id="countDislikes" resultType="int">
        SELECT COUNT(*)
        FROM tbl_reaction
        WHERE board_no = #{boardNo}
        AND reaction_type = 'DISLIKE'
    </select>


</mapper>